.e-car-panel{
	position:relative;
	padding:157px 0px 140px 0px;
}
.e-car-alert{
	position:fixed;
	top:96px;
	left:0px;
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:24px;
	color:#d43030;
	background-color:#fed6c1;
	z-index:999;
}
.e-car-list-panel{
	position:relative;
	margin:0px auto 0px auto;
	background-color:#ffffff;
}
.e-car-list-item{
	position:relative;
	display:table;
	padding:0px 20px 0px 20px;
	margin:0px auto 0px auto;
	height:232px;
	border-bottom:1px solid #c8c8c8;
}
.e-car-select{
	position:relative;
	display:inline-table;
	width:36px;
	height:232px;
	background:url(../images/radio.png) no-repeat;
	background-size:100%;
	background-position:center;
}
.e-car-select-chose{
	background:url(../images/radio-checked.png) no-repeat;
	background-size:100%;
	background-position:center;
}
.e-car-select-none{
	background:url(../images/radio-none.png) no-repeat;
	background-size:100%;
	background-position:center;
}
.e-car-icon{
	position:relative;
	display:inline-table;
	vertical-align:top;
	margin:1% 15px 0px 15px;
}
.e-car-introduce{
	position:relative;
	display:inline-table;
	vertical-align:bottom;
	margin:0px 0px 30px 0px;
	width:390px;
}
.e-car-introduce-title{
	position:relative;
	margin:0px 0px 80px 0px;
	min-height:45px;
	font-size:28px;
	color:#3c3c3c;
}
.e-car-introduce-price{
	position:relative;
	font-size:26px;
	color:#eb2828;
}
.e-car-introduce-sumbox{
	position:absolute;
	bottom:0px;
	right:0px;
	height:46px;
}
.e-car-sumbox{
	position:relative;
	border-radius: 0px;
	padding:0px;
	margin:0px;
	float:left;
	width:77px;
	height:46px;
	font-size:30px;
	font-weight:bold;
	line-height:46px;
	text-align:center;
	border:2px solid #8c8c8c;
}
.e-sumbox-controller{
	position:relative;
	float:left;
	width:46px;
	height:46px;
	font-size:30px;
	font-weight:bold;
	line-height:46px;
	text-align:center;
	border-style:solid;
	border-color:#8c8c8c;
}
.e-car-introduce-sumbox #sub{
	border-width:2px 0px 2px 2px;
}
.e-car-introduce-sumbox #add{
	border-width:2px 2px 2px 0px;
}
.e-car-list-panel .nocontroller{
	color:#c8c8c8;
	border-color:#c8c8c8;
}
.e-car-info-panel{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:112px;
	background-color:#f8f8f8;
	border-top:1px solid #b4b4b4;
	z-index:999;
}
.e-table-panel{
	position:relative;
	display:table;
	margin:0px auto 0px auto;
	color:#323232;
	font-weight:bold;
}
.e-car-info-select{
	position:relative;
	display:inline-table;
	margin:0px 120px 0px 0px;
	width:36px;
	height:112px;
	background:url(../images/radio.png) no-repeat;
	background-size:100%;
	background-position:center;
}
.e-table-panel .chose{
	background:url(../images/radio-checked.png) no-repeat;
	background-size:100%;
	background-position:center;
}
.e-car-info-select span{
	position:absolute;
	top:42px;
	right:-60px;
	font-size:26px;
}
.e-car-info-sum-title{
	position:relative;
	display:inline-table;
	vertical-align:top;
	font-size:30px;
	line-height:112px;
}
.e-car-info-sum{
	position:relative;
	display:inline-table;
	vertical-align:top;
	font-size:26px;
}
.e-car-info-sum p{
	width:240px;
	margin:22px 0px 5px 0px;
}
.e-car-info-cost{
	font-size:30px;
	color:#d43030;
}
.e-car-info-submit{
	position:relative;
	display:inline-table;
	vertical-align:top;
	margin:15px 0px 0px 0px;
	width:189px;
	height:83px;
	line-height:83px;
	text-align:center;
	font-size:32px;
	color:#ffffff;
	background-color:#eb2828;
	border-radius:8px;
}