.p-panel {
	width: 100%;
	font-size: 30px;
	position: relative;
}
.p-panel-div {
	width: 640px;
	margin: 0px auto;
	padding-top: 200px;
}
.p-panel-div>input[type=text],.p-panel-div>input[type=password] {
	margin: 0px;
	padding: 0px 0px 0px 24px;
	width: 616px;
	font-size: 32px;
	border-radius: 8px;
	height: 84px;
	border: 1px solid #d1d3d4;
	background-color: #ffffff;
}
.p-panel-div .p-button {
	font-size: 33px;
	height: 84px;
	background-color: #d43030;
	color: #ffffff;
	border-radius: 8px;
	border: 0px;
}
#p-phone-text {
	width: 400px;
	height: 84px;
	margin-bottom: 40px;
}
#p-code-button {
	float: right;
	width: 190px;
}
#p-next-button {
	width: 640px;
	margin-top: 103px;
}
.p-panel-input-div {
	display: table;
	width: 640px;
	height: 84px;
	border-radius: 8px;
	margin-bottom: 40px;
	background-color: #ffffff;
	border: 1px solid #d1d3d4;
	color: #666c70;
	font-size: 28px;
}
.p-panel-input-td {
	text-align: center;
	display: table-cell;
}
.p-panel-input-div input[type=text],.p-panel-input-div input[type=password] {
	font-size: 30px;
	height: 84px;
	border: 0px;
	background-color: transparent;
}
#p-panel-input-password,#p-panel-input-repassword {
	width: 100%;
}
#p-panel-password-submit {
	margin-top: 63px;
	width: 100%;
}
.p-panel-div .p-holdtime{
	background-color:#d2d2d2;
	color:#f9f9f9;
}