<div class="p-panel">
	<div class="p-panel-div" ng-hide="newPasswordFlag">
		<input type="text" id="p-phone-text" value="" ng-model="userPhone" placeholder="输入手机号" /><button id="p-code-button" ng-init="codeTime=0;codeStatus='获取验证码'" class="p-button" ng-class="{'p-holdtime':codeTime != 0}" ng-click="getCode();">{{codeStatus}}</button>
		<input type="text" ng-model="code" value="" ng-model="randomCode" placeholder="输入验证码" />
		<br/>
		<button id="p-next-button" class="p-button" ng-click="showNewPassword()">下一步</button>
	</div>
	<div class="p-panel-div" ng-show="newPasswordFlag">
		<div class="p-panel-input-div">
			<div class="p-panel-input-td">
				输入新密码：
			</div>
			<div class="p-panel-input-td">
				<input id="p-panel-input-password" value="" ng-model="newPwd" placeholder="6-12位英文/数字/符号 密码" type="password" />
			</div>
		</div>
		<div class="p-panel-input-div">
			<div class="p-panel-input-td">
				再次输入密码：
			</div>
			<div class="p-panel-input-td">
				<input id="p-panel-input-repassword" value="" ng-model="repeatPwd" placeholder="" type="password" />
			</div>
		</div>
		<button id="p-panel-password-submit" class="p-button" ng-click="Modify();">下一步</button>
	</div>
</div>
